node_modules/
npm-debug.log*
.DS_Store

scraper/node_modules/

# ignore everything in data by default
data/*

# keep folder
!data/.gitkeep

# allow split sources to be committed
!data/characters.json
!data/weapons.json
!data/accessories.json
!data/enemies.json
!data/bosses.json