node_modules/
npm-debug.log*
.DS_Store

scraper/node_modules/

# ignore everything in data by default
data/*

# allow committed JSON used by the site
!data/.gitkeep
!data/characters.json
!data/weapons.json
!data/accessories.json
!data/enemies.json
!data/bosses.json
!data/leader_skills.json
!data/catalog.items.json
!data/catalog.clean.json